<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<!-- Dependiendo de la plataforma tendremos dos contenidos de la pantalla.
     Uno para las aplicaciones moviles y otro para la web. En la version de
     web anyadiremos padding para hacer mas pequeñas las cartas.
-->
<ion-content padding *ngIf="platform.is('ios') || platform.is('android') || platform.is('windows')">

  <ion-refresher (ionRefresh)="loadTimeline($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let pet of petList">
    <img src="{{pet.icon}}"/>
    <ion-card-content>
      <ion-card-title>
        {{pet.title}}
      </ion-card-title>
      <p>
        {{pet.description}}
      </p>
    </ion-card-content>
    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" icon-left>
          <ion-icon name='star'></ion-icon>
          Favorite
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>

<ion-content padding *ngIf="!platform.is('ios') && !platform.is('android') && !platform.is('windows')">
  <div class= "container" style="padding-left: 200px !important; padding-right: 200px!important">
    <ion-refresher (ionRefresh)="loadTimeline($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-card *ngFor="let pet of petList">
      <img src="{{pet.icon}}"/>
      <ion-card-content>
        <ion-card-title>
          {{pet.title}}
        </ion-card-title>
        <p>
          {{pet.description}}
        </p>
      </ion-card-content>
      <ion-row no-padding>
        <ion-col>
          <button ion-button clear small color="danger" icon-left>
            <ion-icon name='star'></ion-icon>
            Favorite
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div> 
  </ion-content>
